@use '../themes/defualtThemes' as *;
@use '../util/variables' as *;
@use '../util/mixins' as *;

.footer {
    position: relative;
    background-color: $primary-4;
    p {
        color: black;
        font-weight: 500;
    }
}

