@use '../themes/defualtThemes' as *;
@use '../util/variables' as *;
@use '../util/mixins' as *;

.gallery-container {
    width: 100%;
  .gallery {
    margin: 15px;
    display: inline-block;
    width: 220px;
    right: 0;
    img {
      width: 100%;
      height: auto;
    }
  }
}
