@use '../themes/defualtThemes' as *;
@use '../util/variables' as *;
@use '../util/mixins' as *;


.navbar{
    background: $secondary-2;
    box-shadow: $light-shadow;
    .links{
        font-size: 1.2rem;
        color: $primary-2;
    }
}