@use '../themes/defualtThemes' as *;
@use '../util/variables' as *;
@use '../util/mixins' as *;

.Slideshow-container {
    padding: 0;
    @include center-auto;
    margin-bottom: 10px;
    .slide-img{
        @include flex-center;
        height: 400px;
    }
}