//hsl middle # is vibriness, last # is balc white shades

//DarkShades of Primary colors
$primary-0: hsl(358, 85%, 21%);
$primary-1: hsl(358, 85%, 29%);
$primary-2: hsl(358, 85%, 37%);
$primary-3: hsl(358, 85%, 45%);
$primary-4: hsl(358, 85%, 52%); //Primary Red
$primary-5: hsl(358, 85%, 60%);
$primary-6: hsl(358, 85%, 67%);
$primary-7: hsl(358, 85%, 74%);
$primary-8: hsl(358, 85%, 81%);
$primary-9: hsl(358, 85%, 88%);

// lighter shades of secondary color
$secondary-0: hsl(0, 0%, 28%);
$secondary-1: hsl(0, 0%, 37%);
$secondary-2: hsl(0, 0%, 45%);
$secondary-3: hsl(0, 0%, 53%);
$secondary-4: hsl(0, 0%, 60%); 
$secondary-5: hsl(0, 0%, 68%);
$secondary-6: hsl(0, 0%, 75%);
$secondary-7: hsl(0, 0%, 82%);
$secondary-8: hsl(0, 0%, 89%);
$secondary-9: hsl(0, 0%, 96%); //Primary White

// dark shades of grey color
$grey-0: hsl(0, 5%, 24%); //Primary Gray
$grey-1: hsl(0, 5%, 32%);
$grey-2: hsl(0, 5%, 40%);
$grey-3: hsl(0, 5%, 48%);
$grey-4: hsl(0, 5%, 55%); 
$grey-5: hsl(0, 5%, 63%);
$grey-6: hsl(0, 5%, 70%);
$grey-7: hsl(0, 5%, 77%);
$grey-8: hsl(0, 5%, 84%);
$grey-9: hsl(0, 5%, 91%);

//Misc
// $white: #ddd;
// $black: #222;
// $red-dark: hsl(0, 80%, 45%);
// $red-light: hsl(0, 67%, 67%);
// $green-dark: hsl(125, 77%, 35%);
// $green-light: hsl(125, 67%, 67%);
